{% extend 'base.html'%}{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News website </title>
        {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
              <div class="col-sm-8">
                {% for headline in headlines %}
                
                <img src="{{headlines.image}}" alt="image"  style="width: 100%;" class="img-thumbnail"> 
                <h4>{{source.name}}</h4>
                <div class="card-body card-body-cascade text-center pb">
                    <h5><strong>{{headline.author}}</strong></h5>
                    <p class="card-text">{{headline.description}}</p>
                    <a href="/article/{{source.id}}">
                        <p class="cart-text badge badge-success">Read More...</p>
                    </a>
                    {% endfor %}
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
{% endblock %}
</html>