{% macro displayArticle(articles)%}


{% for article in  articles%}
<div class="card" style="width: 90%; margin: auto;">
    <img src="{{article.urlToImage}}" class="card-img-top" style="width: 100%;" alt="...">
    <div class="card-body" style="margin:20px;">
      <h5 class="card-title">Card title {{article.title}}</h5>
      <p class="card-text"> {{article.description}}</p>
      <p style="text-align: center;"><a href="{{article.url}}" class="btn btn-primary">View More... </a></p>
    </div>
  </div>


{% endfor %}
{% endmacro %}